@import "tailwindcss";

@theme {
  --font-sans: "Lexend", sans-serif;
}

@layer base {
  :root {
    color-scheme: light dark;
  }

  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
